.screenshot-caption-wrapper {
    width: 100%;
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.125rem;
        text-align: center;
    }
}

.scroll-arrow-btn {
    background: transparent;
    border: none;
    opacity: 0.5;
    margin-top: -50%;
    &:hover:not([disabled]) {
        opacity: 1;
        cursor: pointer;
    }
    .scroll-arrow {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        font-size: 13vw;
        width: 100%;
        height: 100%;
        color: white;
    }
    &:focus {
        outline: none;
    }
}

.scroll-arrow-btn-left {
    margin-left: -46px;
}

.scroll-arrow-btn-right {
    margin-right: -46px;
}