// medium screen size max 959px
@import '~@angular/material/theming';
@import './palette.scss';
@import '~material-design-icons/iconfont/material-icons.css';
* {
    margin:0;
    padding:0;
}
body {
    img {
        height: 100%;
        width: 100%;
    }
    p {
        font-size: 20px;
        line-height: 25px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    mat-card-title.mat-card-title {
        font-family: 'Montserrat', sans-serif;
    }

    h1{
        color:white;
        text-align:center;
        margin-bottom: 24px;
    }

    mat-card {
        .mat-list .mat-list-item {
            height: 100%;
        }
    }
    mat-divider.mat-divider{
        border-bottom: 1px solid rgba(64, 196, 255, 0.5);
    }

    .content-text {
        padding: 12px;
    }
    .header {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        ul,
        li,
        a {
            display: inline-block;
            text-align: center;
        }
        li {
            transform: skewX(-20deg);
            -ms-transform: skewX(-20deg);
            -webkit-transform: skewX(-20deg);
            background-color: #e64a19;
            color: white;
            opacity: 0.7;
            cursor: pointer;
            a {
                padding: 3px 15px 3px 10px;
                text-decoration: none;
                transform: skewX(20deg);
                -ms-transform: skewX(20deg);
                -webkit-transform: skewX(20deg);
                i{
                    color: white;
                    font-size:1.5em;
                }
            }
        }
        li:hover,
        .nav-active {
            opacity: 1;
        }
        li:nth-child(1):before {
            content: "";
            position: absolute;
            width: 15px;
            height: 100%;
            background: #e64a19;
            -webkit-transform: skewX(20deg);
            left: -7px;
        }
    }
    #bio {
        background: url('../src/assets/img/appalachia.jpg') no-repeat fixed; 
        background-size: cover;
        height: 100vh;
        padding:0;
        .opacity-filter{
            background-color:rgba(255,255,255,0.2);
            height:100%;
            width:100%;
        }
        .title-wrapper{
            color: white;
            margin-right:24px;
            padding-right: 24px;
            text-align: right;
            word-wrap: break-word;
            margin-top: 35%;
            border-right: 4px solid #e64a19;
            font-size: 2.5em;
            h1{
                letter-spacing: 18px;
                text-align: right;
            }
            h2{
                font-size:1em;
            }
        }
    }
    #projects {
        background-color: rgb(75,75,75);
        .comp-screen-wrapper {
            z-index: 1;
            #screenshot-wrapper {
                position: absolute;
                z-index: -1;
                top: 8.7%;
                bottom: 32%;
                left: 7.6%;
                right: 7.4%;
            }
        }
        .projects-list-wrapper{
            padding-right:0;
            .projects-list {
                cursor: pointer;
                color: white;
                h4.mat-line {
                    margin: 8px 0 0 0;
                    color: #e64a19;
                    white-space: normal;
                }
            }
        }

        .active {
            color: rgba(255,255,255, .5);
        }
        mat-card.mat-card{
            box-shadow: none;
            background: transparent;
        }
        mat-list {
            margin-top: calc(8.7% + 37px);
            width: 100%;
        }
        mat-card-title {
            text-align: center;
            border-bottom: 1px solid rgb(64, 196, 255);
            color: #e64a19;
        }
    }
    #work {
        background-color: rgb(75, 75, 75);
        .mat-list .mat-list-item {
            height: 100%;
        }
        .description-list {
            border-left: 1px solid rgb(64, 196, 255);
        }
        .job-title-small {
            font-size: .7em;
        }
        .job-details-column {
            color: rgb(64, 196, 255);
            h2 {
                color: #e64a19;
                margin: 8px 0 4px 0;
            }
            h3 {
                color:rgb(64, 196, 255);
                margin: 0 0 8px 16px;
            }
            h5 {
                margin: 0 0 8px 16px;
            }
        }
    }
    #education {
        background-color: #e64a19;
    }
    #footer-card {
        color: white;
        background-color: rgb(64, 196, 255);
        p {
            line-height: 12px;
            font-size: initial;
        }
    }
}