$orange: #e64a19;
$blue: #40c4ff;
$gray: rgb(75, 75, 75);
$break-sm: 600px;
$break-md: 960px;
$break-lg: 1800px;
$break-xl: 3600px;
#window-wrapper {
    margin: 0;
    padding: 0;
    #projects,
    #work,
    #education {
        @media screen and (min-width: $break-xl) {
            padding: 24px 20% !important;
        }
    }
    img {
        height: 100%;
        width: 100%;
    }
    p {
        font-size: 16px;
        line-height: 25px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    mat-card-title.mat-card-title {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }
    mat-card-title.mat-card-title {
        @media screen and (min-width: $break-lg) {
            font-size: 3em;
        }
    }
    .mat-list-item-content {
        width: 100%;
    }
    .blink {
        color: $orange;
        margin-left: 0.2em;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }
    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    h1 {
        color: white;
        margin-bottom: 24px;
        @media screen and (min-width: 1500px) {
            font-size: 4vw;
        }
    }
    h2 {
        text-align: right;
    }
    mat-divider.mat-divider {
        border-bottom: 1px solid rgba(64, 196, 255, 0.5);
    }
    .content-text {
        padding: 12px;
        color: white;
        text-align: justify;
    }
    .details-column {
        border-right: 1px solid $blue;
        width: 100%;
        @media screen and (max-width: $break-sm) {
            border-right: none;
        }
        h2 {
            color: $orange;
            margin: 8px 0 4px 0;
            text-align: left;
        }
        h3 {
            color: $blue;
            margin: 0 0 8px 16px;
            text-align: left;
        }
        h5 {
            margin: 0 0 8px 16px;
            text-align: left;
            color: rgba(75, 75, 75, 0.5);
        }
    }
    .header {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        ul,
        li,
        a {
            display: inline-block;
            text-align: center;
        }
        li {
            transform: skewX(-20deg);
            -ms-transform: skewX(-20deg);
            -webkit-transform: skewX(-20deg);
            background-color: $orange;
            color: white;
            opacity: 0.7;
            cursor: pointer;
            a {
                padding: 3px 15px 3px 10px;
                text-decoration: none;
                transform: skewX(20deg);
                -ms-transform: skewX(20deg);
                -webkit-transform: skewX(20deg);
                svg {
                    color: white;
                    font-size: 1.5em;
                }
            }
        }
        li:hover,
        .nav-active {
            opacity: 1;
        }
        li:nth-child(1):before {
            content: "";
            position: absolute;
            width: 15px;
            height: 100%;
            background: $orange;
            -webkit-transform: skewX(20deg);
            left: -7px;
        }
    }
    /*************
  * Bio *
  **************/
    #bio {
        background: url('../../assets/appalachia.jpg') no-repeat fixed;
        background-size: cover;
        height: 100vh;
        padding: 0;
        .opacity-filter {
            background-color: rgba(255, 255, 255, 0.2);
            height: 100%;
            width: 100%;
            .title-container {
                height: 100vh;
            }
        }
        .title-wrapper {
            color: white;
            margin-right: 24px;
            padding-right: 24px;
            text-align: right;
            word-wrap: break-word;
            margin-top: 45vh;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
            border-right: 4px solid $orange;
            font-size: 2.5em;
            margin-bottom: 50px;
            height: 375px;
            @media screen and (max-width: 400px) {
                margin-top: 10vh;
            }
            @media screen and (max-width: $break-sm) {
                margin-top: 30vh;
                margin-bottom: 10vh;
            }
            @media screen and (min-width: 2000px) {
                font-size: 2vw;
            }
            @media screen and (min-width: $break-xl) {
                margin-right: 25% !important;
            }
            h1 {
                letter-spacing: 18px;
                text-align: right;
                @media screen and (max-width: $break-sm) {
                    letter-spacing: 0;
                }
            }
            h2 {
                font-size: 1em;
                display: inline-block;
            }
            .typed-cursor {
                color: $orange;
                animation: blink-animation 1s steps(5, start) infinite;
                -webkit-animation: blink-animation 1s steps(5, start) infinite;
            }
        }
    }
    /*************
  * Projects *
  **************/
    #projects {
        padding: 24px;
        background-color: $gray;
        clip-path: polygon(0 0, 100% 0, 100% 145%, 0 82%);
        border-bottom: 4px solid $blue;
        @media screen and (max-width: $break-sm) {
            clip-path: none;
            padding-bottom: 24px;
        }
        h1 {
            margin-bottom: 0;
        }
        mat-card.mat-card {
            box-shadow: none;
            background: transparent;
        }
        .text-resize {
            p {
                line-height: 1.5em;
                font-size: 3em;
                @media screen and (max-width: 2000px) {
                    font-size: 1.5em;
                }
                mat-icon.mat-icon {
                    font-size: 16px;
                    @media screen and (min-width: 2000px) {
                        font-size: 1.5em;
                        position: absolute;
                        left: -1em;
                    }
                }
            }
        }
        mat-list-item.mat-list-item {
            height: inherit;
            h4 {
                @media screen and (max-width: $break-sm) {
                    font-size: 16px;
                }
                @media screen and (min-width: $break-xl) {
                    font-size: 48px;
                }
            }
            h6 {
                @media screen and (max-width: $break-sm) {
                    font-size: 14px;
                }
                @media screen and (min-width: $break-xl) {
                    font-size: 36px;
                }
            }
        }
        .projects-list-wrapper {
            margin-top: 60px;
            text-align: left;
            @media screen and (max-width: $break-sm) {
                padding-bottom: 0;
            }
            .projects-list {
                cursor: pointer;
                color: white;
                opacity: 0.6;
                &:hover {
                    opacity: 1;
                }
                .material-icons {
                    @media screen and (min-width: $break-lg) {
                        font-size: 2vw;
                        position: absolute;
                        right: -26px;
                    }
                }
                h4.mat-line {
                    margin: 8px 0 0 0;
                    color: $orange;
                    white-space: normal;
                    text-align: left;
                }
                h6.mat-line {
                    margin: 0 0 8px 0;
                    text-align: left;
                }
            }
            .project-links-wrapper {
                @media screen and (max-width: $break-sm) {
                    margin-bottom: 60px;
                }
                .project-links {
                    font-size: 82px;
                    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
                    color: $blue;
                    padding: 24px 0 12px 0;
                    opacity: 0.8;
                    @media screen and (max-width: $break-sm) {
                        padding: 0;
                        font-size: 60px;
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
                a {
                    text-decoration: none;
                }
                h4 {
                    color: white;
                }
            }
        }
        .comp-screen-wrapper {
            z-index: 1;
            .computer-screen-img,
            .carousel-handles-wrapper {
                cursor: pointer;
            }
            #screenshot-wrapper {
                position: absolute;
                z-index: -1;
                top: 8.7%;
                bottom: 32%;
                left: 7.6%;
                right: 7.4%;
                @media screen and (min-width: 600px) {
                    top: 11.7%;
                    bottom: 34%;
                    left: 9.6%;
                    right: 9.4%;
                }
                @media screen and (min-width: 750px) {
                    top: 13.7%;
                    bottom: 35%;
                    left: 11.6%;
                    right: 11.4%;
                }
                @media screen and (min-width: 900px) {
                    top: 8.7%;
                    bottom: 32%;
                    left: 7.6%;
                    right: 7.4%;
                }
                @media screen and (min-width: 1550px) {
                    top: 6.9%;
                    bottom: 32%;
                    left: 6.4%;
                    right: 5.4%;
                }
            }
        }
        .carousel-handles-wrapper {
            height: 100%;
            width: 100%;
            float: right;
            position: relative;
            margin-top: -66%;
            .scroll-arrow-btn {
                background: transparent;
                border: none;
                opacity: 0.5;
                &:hover:not([disabled]) {
                    opacity: 1;
                    cursor: pointer;
                }
                .scroll-arrow {
                    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
                    font-size: 13vw;
                    width: 100%;
                    height: 100%;
                    color: white;
                }
                &:focus {
                    outline: none;
                }
            }
            .scroll-arrow-btn-left {
                margin-left: -14%;
                text-align: left;
                @media screen and (min-width: $break-xl) {
                    margin-left: -22%;
                }
            }
            .scroll-arrow-btn-right {
                text-align: right;
                float: right;
                margin-right: -14%;
                @media screen and (min-width: $break-xl) {
                    margin-right: -22%;
                }
            }
        }
        .tech-list {
            margin-top: 37px;
            color: white;
            text-align: center;
            padding: 0;
            @media screen and (max-width: $break-sm) {
                margin-top: 0;
                padding-bottom: 24px;
            }
            .tech-list-item {
                margin-top: 24px;
                width: 78px;
                @media screen and (max-width: $break-sm) {
                    margin-top: 0;
                    padding: 0 4%;
                }
            }
            h5 {
                font-size: 1vw;
                @media screen and (max-width: $break-sm) {
                    font-size: initial;
                }
            }
        }
        .active {
            opacity: 1 !important;
        }
        mat-list {
            width: 100%;
            padding: 0;
        }
        mat-card-title {
            border-bottom: 1px solid $blue;
            color: $orange;
        }
    }
    /*************
  * Work *
  **************/
    #work {
        box-shadow: none;
        margin-bottom: 200px;
        mat-card.mat-card {
            box-shadow: none;
            background: white;
            z-index: 2;
            padding: 0;
            width: 100%;
        }
        h1 {
            color: $blue;
        }
        h5 {
            text-align: left;
        }
        .mat-list,
        .mat-list .mat-list-item {
            height: 100%;
            width: 100%;
            .item-content-wrapper {
                margin-bottom: 8px;
            }
            .mat-list-item-content {
                color: $gray;
            }
        }
        mat-list-icon.mat-list-icon {
            position: absolute;
            top: -8px;
            left: -8px;
        }
        mat-divider.mat-divider {
            z-index: 3;
        }
        .job-title-small {
            font-size: .7em;
        }
        .opaque-bg {
            background: white;
        }
    }
    /*************
  * Education *
  **************/
    #education {
        background-color: $orange;
        background: linear-gradient(135deg, #FFF 25%, transparent 25%) -50px 0, linear-gradient(225deg, #FFF 25%, transparent 25%) -50px 0, linear-gradient(315deg, #FFF 25%, transparent 25%), linear-gradient(45deg, #FFF 25%, transparent 25%);
        background-size: 100px 100px;
        background-color: rgba(230, 74, 25, 0.8);
        box-shadow: none;
        color: $gray;
        .mat-list {
            width: 100%;
            .mat-list-item {
                height: 100%;
                /deep/ .mat-list-item-content {
                    background-color: white;
                    width: 100%;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
                }
            }
        }
        .float-line {
            border-right: 2px solid $blue;
            width: 1px;
            position: absolute;
            left: 50%;
            height: 500px;
            top: -35%;
            @media screen and (max-width: $break-sm) {
                height: 600px;
                top: -25%;
            }
        }
        h1 {
            color: $gray;
            margin-top: 12%;
            margin-left: calc(50% - 150px);
            padding-top: 28px;
            margin-bottom: -150px;
            background-color: #40c4ff;
            border-radius: 50%;
            width: 300px;
            height: 164px;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
            @media screen and (max-width: $break-sm) {
                margin-top: 32%;
            }
            @media screen and (min-width: $break-lg) {
                margin-left: calc(50% - 300px);
                padding-top: 60px;
                margin-bottom: -190px;
                width: 600px;
                height: 250px;
            }
            .blink {
                color: white;
            }
        }
        mat-card.mat-card {
            background-color: transparent;
            box-shadow: none;
            padding-bottom: 0;
        }
        .details-column {
            border-right: none;
        }
    }
}